aiohttp
alabaster
async-timeout
asyncio
attrs
Babel
bjson
certifi
chardet
click
commonmark
cssselect
docutils
fake-useragent
fastapi
Flask
GoogleScraper
greenlet
h11
idna
imagesize
itsdangerous
Jinja2
lxml
MarkupSafe
multidict
packaging
pydantic
Pygments
pymongo
pyparsing
pytz
recommonmark
requests
selenium
snowballstemmer
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
starlette
typing-extensions
urllib3
uvicorn
Werkzeug
yarl
PyJWT
decouple
config
mysql-connector-python
passlib
numpy
gTTS
aiomysql